Repository wordpress-mobile/WordPressKit-iOS, pull requests merged in 2018-10, with the labels that each got.

#46 Allow WordPressShared to be updated easily
  Podfile
  WordPressKit.podspec
Labels: bug

#47 History / Revision: new revisions parameter mapping
  Podfile.lock
  WordPressKit.podspec
  WordPressKit/PostServiceRemoteREST.m
  WordPressKit/RemotePost.h
Labels: History / Revisions

#49 History / Revisions: update remote post service and add new Revision and Diff models
  Podfile.lock
  WordPressKit.podspec
  WordPressKit.xcodeproj/project.pbxproj
  WordPressKit/PostServiceRemoteREST+Revisions.swift
  WordPressKit/RemoteDiff.swift
  WordPressKit/RemoteRevision.swift
  WordPressKitTests/Mock Data/post-revisions-failure.json
  WordPressKitTests/Mock Data/post-revisions-mapping-success.json
  WordPressKitTests/Mock Data/post-revisions-success.json
  WordPressKitTests/PostServiceRemoteRESTRevisionsTest.swift
Labels: History / Revisions

#50 Fix revisions API path
  Podfile.lock
  WordPressKit.podspec
  WordPressKit/PostServiceRemoteREST+Revisions.swift
  WordPressKitTests/PostServiceRemoteRESTRevisionsTest.swift
Labels: History / Revisions, bug
